<div class="container">

	<div ng-if="error.errorState == false">
		<p>Please see below our current selection of clothing products</p>
			<div class="row">
				<div class="col-md-9">
					<table class="table table-bordered">
						<thead>							
							<th>Name</th>
							<th>Description</th>
							<th>Cost</th>
							<th>Category</th>
							<th>Image</th>	
							<th></th>				
						</thead>
						<tr ng-repeat="product in products">
							<td>{{product.name}}</td>
							<td>{{product.description}}</td>
							<td>{{product.cost}}</td>
							<td>{{product.category}}</td>
							<td><img ng-src="../app/assets/products/{{product.id}}.png" class="product-image"></img></td>	
							<td><button type="button" class="btn btn-primary" ng-click="addProductToCart(product)">Add to cart</button></td>			
						</tr>
					</table>
				</div>
				<div class="col-md-3"></div>
			</div>
	</div>

	<div ng-if="error.errorState === true" class="alert alert-danger">
	  <strong>Error:</strong> {{error.errorMessage}}
	</div>
	
</div>
