<div class="container">
	
	<div ng-if="displayItems.length > 0">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Legendary Gear</div>
            <div class="panel-body">
                <p>Please see below the list of items currently in your shopping cart, you can <a href="#/shopProducts">keep shopping</a></p>
            </div>
            <!-- Table -->
			<table class="table">
				<thead>						
					<th>Item</th>
					<th>Price</th>
					<th>Quantity</th>
					<th></th>
				</thead>
				<tr ng-repeat="item in displayItems track by $index">						
					<td>
						<blockquote>
						  <p>{{item.name}}</p>
						  <footer>{{item.description}}</footer>
						</blockquote>
					</td>
					<td class="text-center">{{item.cost}}</td>
					<td class="text-center">{{item.quantity}}</td>
					<td><button type="button" ng-disabled="item.quantity === 0" class="btn btn-primary" ng-click="removeItemFromCart(item)">Remove</button></td>
				</tr>
			</table>
        </div>
	</div>
	<div ng-if="displayItems.length == 0">
		<div class="jumbotron">
		  <h1>Your chest is empty adventurer!</h1>
		  <p>Visit our <a href="#/shopProducts">product listings</a> to add items to you cart.</p>
		</div>	
	</div>
</div>
